@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?ee9j03');
    src:  url('../fonts/icomoon.eot?ee9j03#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?ee9j03') format('truetype'),
      url('../fonts/icomoon.woff?ee9j03') format('woff'),
      url('../fonts/icomoon.svg?ee9j03#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none; /* 去除默认的下划线 */

    color: #000;    /* 去除默认的颜色和点击后变化的颜色 */
}
li{
   list-style: none;
    float: left;
}
input{
    background:none;    

    outline:none;   

    border:none;
}
body{
    overflow-x:hidden ; 

    background-color: rgb(246, 246, 246);
}
.w{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
/* 头部 */
.hearder{
    height: 145px;
    width: 100%;
    background-color: #fff;
}
.hearder_1{
    height: 90px;
    width: 100%;
    line-height: 90px;
    border-bottom: 1px solid #dedede;
}
.logo{
    float: left;
    margin-left: 8px;
    width: 185px;
    height: 45px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logo img{
    height: 50px;
    vertical-align: middle;
}
.fl_ul{
    float: left;
    height: 100%;
    width: 400px;
}
.fl_ul ul{
    width: 480px;
}
.fl_ul ul li{
    position: relative;
    margin: 0 15px;
    height: 100%;
}
.fl_ul ul li a{
    display: block;
    padding: 0 5px 0 5px;
    height: 100%;
    font-size: 18px;
    color: #333;
}
/* css鼠标经过效果 */
.fl_ul ul li:hover a{
    color:rgba(87, 172, 131, 0.8);
}
.fl_ul ul li:nth-child(1){
    background-color:rgba(49, 194, 124,0.8);
}
.fl_ul ul li:nth-child(1) a{
    color: #fff;
}
.fl_ul ul li:nth-child(3) img{
    position:absolute;
    top: 15px;
    left: 30px;
    width: 40px;
}
.ghd{
    display: none;
    padding-left: 7px;
    position: absolute;
    top: 65px;
    left: -10px;
    width: 150px;
    height: 162px;
    text-align: center;
    border: 1px solid #dedede;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 3px 1px rgba(80, 79, 79, 0.4);
    z-index: 1;
}
.ghd p{
    position: relative;
    margin-top: 12px;
    width: 135px;
    height: 25px;
    font-size: 13px;
    line-height: 23px;
}
.ghd p img{
    position: absolute;
    margin-top: -12px;
   margin-left:   -30px;
    max-height: 16px;
    max-width: 16px;
}
.ghd p spam{
    margin-left: 15px;
}
.ghd span{
    float: left;
    margin-top: 12px;
    width: 135px;
    height: 25px;
    line-height: 28px;
    border-radius: 12px;
    color: #fff;
    background-color:rgba(49, 194, 124,0.8);
    cursor: pointer;
}
.fl_ul ul li:nth-child(3):hover .ghd{
    display: block;
}
.input{
    position: relative;
    width: 280px;
    float: left;
}
.input input{
    padding-left: 5px;
    width: 220px;
    height: 40px;
    font-size: 14px;
    border-radius: 4px;
    letter-spacing: 0.1px;
    color: #dedede;
    border: 1px solid #dedede;
}
.input i a{
    position: absolute;
    top: 32px;
    right: 65px;
    display: block;
    height: 25px;
    width: 25px;
}
.input i a::after{
    position: absolute;
    top: -32px;
    left: 3px;
    height: 25;
    content: '\f002';
    font-family: 'icomoon';
    color: #999999;
}
.input i a:hover::after{
    color:  rgba(87, 172, 131, 0.8);
}
.input span{
    margin-left: 20px;
}
.input span:hover a{
    color: rgba(87, 172, 131, 0.8);
}
.mod_select--open{
    float: left;
    margin-left: 15px;
}
.mod_select--open dt{
    margin-top: 20px;
    width: 125px;
    height: 45px;
    line-height: 50px;
    text-align: center;
    background-color: rgb(49, 194, 124);
    color: #fff;
    cursor: pointer;
}
.mod_select--open dt::after{
    position: absolute;
    content: '\ea43';
    font-family: 'icomoon';
    margin-left: 10px;
    margin-top: -2px;
    color: #fff;
}
.mod_select--open dd{
    position: absolute;
    display: none;
    width: 125px;
    height: 80px;
    text-align: center;
    border: 1px solid #999999;
    border-top: none;
    border-radius: 0 0 5px 5px;
    font-size: 15px;
    background-color: #fff;
}
.mod_select--open:hover dd{
    display:block;
}
.mod_select--open dd li{ 
    float: none;
    line-height: 40px;
    height: 40px;
    width: 100%;
}
.mod_select--open dd li a{
    display: block;
    height: 100%;
    width: 100%;
}
.mod_select--open dd li:nth-child(1):hover{
    border-top: 1px solid #dedede;
}
.mod_select--open dd li:hover{
    background-color: rgb(49, 194, 124);
}
.mod_select--open dd li:hover a{
    color: #fff;
}
.mod_select--pay{
    float: left;
    margin: 20px 0 0 20px;
    width: 85px;
    height: 45px;
}
.mod_select--pay dt{
    width: 100%;
    height: 45px;
    line-height: 50px;
    text-align: center;
    background-color: rgb(49, 194, 124);
    cursor: pointer;
}
.mod_select--pay dt::after{
    position: absolute;
    margin-left: 5px;
    margin-top: -2px;
    content: '\ea43';
    font-family: 'icomoon';
}
.mod_select--pay dt:hover{
    color: #fff;
}
.mod_select--pay dd{
    display: none;
    width: 100%;
    height: 80px;
    text-align: center;
    border: 1px solid #999999;
    border-top: none;
    border-radius: 0 0 5px 5px;
    font-size: 15px;
    background-color: #fff;
}
.mod_select--pay dd li{ 
    float: none;
    line-height: 40px;
    height: 40px;
    width: 100%;
}
.mod_select--pay dd li a{
    display: block;
    height: 100%;
    width: 100%;
}
.mod_select--pay:hover dd{
    display:block;
}
.mod_select--pay dd li:nth-child(1):hover{
    border-top: 1px solid #dedede;
}
.mod_select--pay dd li:hover{
    background-color: rgb(49, 194, 124);
}
.mod_select--pay dd li:hover a{
    color: #fff;
}
.user{
    float: left;
    margin: 20px 0 0 20px;
    width: 45px;
    height: 45px;
    border: 1px solid #999999;
    border-radius: 50%;
}
.user img{
    width: 100%;
    height: 100%;
}
.hearder_b{
    margin-top: 5px;
    height: 50px;
    width: 100%;
}
.hearder_b ul{
    padding-left: 285px;
    height: 100%;
    width: 100%;
    line-height: 50px;
    text-align: center;
}
.hearder_b ul li a{
    font-size: 16px;
    padding: 0  0  0 30px;
}
.hearder_b ul li a:hover{
    color:rgb(49, 194, 124);
}
/* 第二部分 */
.section {
    position: relative;
    padding-top: 50px;
    height: 530px;
    overflow: hidden;
    background:linear-gradient(rgba(241, 236, 236, 0.5),rgba(255, 255, 255, 0.7),rgba(255, 251, 251, 0.5));
}
.dh{
    height: 95px;
    width: 100%;
    text-align: center;
    font-size: 22px;
}
.dh ul{
    width: 100%;
    padding-left: 320px;
}
.dh ul li{
    margin: 20px 0 0 30px;
}
.dh ul li a{
    font-size: 18px;
}
/* .dh ul li a:hover{
    color:rgb(49, 194, 124); 
} */ 
.dh ul .comten a{
    color: rgb(49, 194, 124);
}
.dh_d{
    position:absolute;
    width: 1200px;
    height: 410px;
    overflow: hidden;
}
.dh_d ul{
    position: absolute;
    padding-top: 10px;
    width: 5000px;
    height: 291px;
    /* background-color: rgb(216, 211, 211); */
}
.playlist__cover{
    position: relative;
    height: 225px;
    width: 225px;
    overflow: hidden;
}
.playlist__cover a:nth-child(2){
    position: absolute;
}
.mod_cover__icon_play{
    position: absolute;
    top: 85px;
    left: 85px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
}
.mod_cover__icon_play a{
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    z-index: 1;
    opacity: 0;
}
.mod_cover__icon_play img{
    display: none;
    height:100%;
}
.playlist__cover a img{
    height: 225px;
}
.dh_d ul li:hover img{
    display: block;
    animation: bigimg 1s linear .3 forwards;
}
.dh_d ul li:hover .mod_cover__icon_play{
    animation: big_mask 1.2s linear .3 forwards;
}
@keyframes bigimg{
    0%{
       transform:  scale(1);
    }
    100%{
       transform:scale(1.2);
    }
}
@keyframes big_mask{
    0%{
       transform:  scale(1);
       opacity: .6;
    }
    100%{
       transform:scale(1.7);
       opacity: 2;
    }
}
.dh_d ul li{
    width: 244px;
    height: 29px;
}
.dh_d ul li:nth-child(5n){
    width: 224px;
}
.dh_d ul li p {
    margin-top: 10px;
}
.dh_d ul li p a:hover{
    color: rgb(49, 194, 124);
}
.playlist__other{
    margin-top: 10px;
    font-size: 14px;
    color: #999999;
}
.fl{
    display: none;
    position: absolute;
    top: 220px;
    left: 0;
    height: 100px;
    width: 80px;
    background-color: #cacaca;
    cursor: pointer;
}
.fl span{
    margin: 30px 0 0 30px;
    display: block;
    height: 40px;
    width: 40px;
    border: 2px solid #000;
    border-top: none;
    border-right: none;
    transform:rotateZ(45deg);
}
.fr{
    display: none;
    position: absolute;
    top: 220px;
    right: 0;
    height: 100px;
    width: 80px;
    background-color: #cacaca;
    cursor: pointer;
}
.fr span{
    margin: 30px 20px 0 8px;
    display: block;
    height: 40px;
    width: 40px;
    border: 2px solid #000;
    border-bottom: none;
    border-left: none;
    transform:rotateZ(45deg);
}
.circle{
    width: 100%;
}
.section .circle ul{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 8px;
    width: 100%;
}
.section .circle ul li{
    cursor: pointer;
    margin: 0 8px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #c4c0c0;
}
.section .circle ul .conten{
    background-color: #4d4c4c;
}
.section_two{
    position: relative;
    height: 830px;
}
.section_two_dh{
    padding-top: 40px;
    width: 1200px;
    height: 120px;
}
.section_two_dh h1{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 34px;
    letter-spacing: 12;
}
.section_two_dh ol{
    margin-top: 25px;
    width: 100%;
    padding-left: 406px;
}
.section_two_dh ol li a {
    padding: 0 15px;
    font-size: 18px;
}
.section_two_dh ol li a:hover,
.section_two_dh ol span:hover a{
    color: rgb(49, 194, 124);
}
.section_two_dh ol span{
    position: relative;
    float: right;
}
.section_two_dh ol span a::after{
    position: absolute;
    content: '\ea43';
    font-family: 'icomoon';
    top: 0px;
    right:-20px;
}
.section_two_dd{
    position: relative;
    width: 1200px;
    height: 630px;
    overflow: hidden;
}
.section_two_dd ul li{
    margin-top: 15px;
    margin-right: 18px;
    margin-bottom: 15px;
    width: 225px;
}
.section_two_dd ul li:nth-child(5n){
    margin-right: 0;
    width: 228px;
}
.section_two_dd ul{
    position: absolute;
    padding-top: 10px;
    width: 2400px;
    /* background-color: rgb(216, 211, 211); */
}
.section_two_dd ul p{
    margin-top: 10px
}
.section_two_dd ul li:hover img{
    display: block;
    animation: bigimg 1s linear .3 forwards;
}
.section_two_dd ul:hover .mod_cover__icon_play{
    animation: big_mask 1.2s linear .3 forwards;
}
.section_two .fr{
    display: none;
    top: 50%;
}
.section_two .fl{
    display: none;
    top: 50%;
}
.section_two .circle ul{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 8px;
    width: 100%;
}
.section_two .circle ul li{
    cursor: pointer;
    margin: 0 8px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #c4c0c0;
}
.section_two .circle ul .conten{
    background-color: #4d4c4c;
}

